body {
    background: linear-gradient(grey, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 10px;
    width: 700px;
    height: 500px;
    box-shadow: 0 0 4rem rgb(125,574,574),
    inset 0 0 4rem rgb(63,10,10), 0, 0, 2rem white, inset 0, 0, 2rem black;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 20px;
}

button {
    margin-top: 60px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin-left: 250px;
}

.form {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    gap: 12px;
}

.gender {
    margin-top: 10px;
    margin-left: 30px;
}

.interest {
    margin-top: 10px;
    margin-left: 30px;
}

#hi {
    margin-top: 40px;
    margin-left: 20px;
}

#hello {
    margin-top: 40px;
    margin-left: 20px;
}

select {
    margin-top: 10px;
    margin-left: 30px;
}

#country {
    margin-top: 40px;
    margin-left: 20px;
}
